@import "./font";
@import "./global";


/* Vars. */

$border-height: .15vh;
$header-height: 8vh + $border-height;
$footer-height: 5vh + $border-height;
$main-height: 100vh - $header-height - $footer-height;


/* Global. */

html {
  position: relative;
}


/* Common. */

.custom-content {
  text-align: center;
}

.custom-container {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: 50vw;
  width: 100%;
}

.custom-row {
  margin: 0;
}

.custom-border {
  @each $border in ("top", "bottom") {
    &-#{$border} {
      border-#{$border}: $border-height solid #DDD;
    }
  }
}


/* Header. */

.custom-header {
  height: $header-height;
}

.custom-header-content {
  padding: 1vh;
}

.custom-header-info {
  display: inline-flex;
  margin: 0 auto;
}

.custom-title {
  color: #FF7000;
  font-weight: bold;
}


/* Main. */

.custom-main {
  height: $main-height;
  padding-top: 1vh;
}


/* Footer. */

.custom-footer {
  height: $footer-height;
  width: 100%;
  /* It doesn't needed, if header-height + main-height + footer-height = 100vh.
  bottom: 0;
  position: absolute;
  */
}

.custom-footer-content {
  line-height: $footer-height;
}

.custom-footer-icon {
  opacity: .8;

  &:hover {
    opacity: 1;
  }

  &,
  &:hover {
    transition: opacity .2s;
  }
}

/*
 * Override Google Chrome stylesheet.
 */
 .custom-footer {
  .col > * {
    line-height: inherit;
  }
}
