extends ./common/form


block append vars
  - var title = "Настройки – Скриншот";


block append head
  +link("/interface/css/styles/settings-iframe.css")
  +script("/interface/js/scripts/settings-iframe.js")
  +script("/interface/js/scripts/settings-screenshot.js")


block main
  div(class="container custom-container")
    form
      +form-group()
        +label({for: "nameForPosts", name: "Имя файла для скриншота постов"})
        +input({id: "nameForPosts", name: "Имя файла для скриншота постов"})

      +form-group()
        +label({for: "nameForThread", name: "Имя файла для скриншота треда"})
        +input({id: "nameForThread", name: "Имя файла для скриншота треда"})

      +form-group()
        +label({for: "screenshotFormat", name: "Формат скриншота"})
        +select({id: "screenshotFormat", options: [{value: "jpeg", name: "JPEG"}, {value: "png", name: "PNG"}]})

      +form-group()
        +label({for: "turnOffPosts", name: "Выключать активные посты после создания скриншота"})
        +form-check-inline({inputId: "turnOffTrue", inputName: "turnOffPosts", labelName: "Да"})
        +form-check-inline({inputId: "turnOffFalse", inputName: "turnOffPosts", labelName: "Нет"})

      +button({id: "save", name: "Сохранить"})
