extends ./common/form


block append vars
  - var title = "Настройки – Загрузка";


block append head
  +js("/interface/js/scripts/settings-download.js")


block append main
  +main()
    +form()
      +title({text: "Изображения"})

      +row()
        +col()
          +label({for: "images-fileName", text: "Имя файла"})
          +input({id: "images-fileName", type: "text", dataType: "string", placeholder: placeholders.fileName})

        +col()
          +label({for: "images-autoFileName", text: "Автоматическое определение имени файла"})
          +checkbox({id: "images-autoFileName", dataType: "boolean"})

      +row()
        +col()
          +label({for: "images-delay", text: "Задержка"})
          +input({id: "images-delay", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "images-types", text: "Типы файлов"})
          +input({id: "images-types", type: "text", dataType: "stringArray", placeholder: placeholders.typesForDownload})

      +title({text: "Видео"})

      +row()
        +col()
          +label({for: "video-fileName", text: "Имя файла"})
          +input({id: "video-fileName", type: "text", dataType: "string", placeholder: placeholders.fileName})

        +col()
          +label({for: "video-autoFileName", text: "Автоматическое определение имени файла"})
          +checkbox({id: "video-autoFileName", dataType: "boolean"})

      +row()
        +col()
          +label({for: "video-delay", text: "Задержка"})
          +input({id: "video-delay", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "video-types", text: "Типы файлов"})
          +input({id: "video-types", type: "text", dataType: "stringArray", placeholder: placeholders.typesForDownload})

      +title({text: "Тред"})

      +row()
        +col()
          +label({for: "thread-fileName", text: "Имя файла"})
          +input({id: "thread-fileName", type: "text", dataType: "string", placeholder: placeholders.fileName})

        +col()
          +label({for: "thread-autoFileName", text: "Автоматическое определение имени файла"})
          +checkbox({id: "thread-autoFileName", dataType: "boolean"})

      +buttons()
