extends ./common/extra


block append vars
  - var title = "Настройки";


block append mixins
  mixin navbar-item(object={})
    div(class="col custom-navbar-item" id=object.id)&attributes(attributes)=object.text
      block

  mixin iframe(object={})
    iframe(frameborder="0" src=object.src id=object.id)&attributes(attributes)="Ваш браузер не поддерживает iframe."


block append head
  +css("/interface/css/styles/settings.css")
  +js("/interface/js/scripts/settings.js")


block main
  main(class="custom-main")
    div(class="custom-content custom-main-content")
      div(class="container")
        div(class="custom-navbar-content")
          div(class="row custom-row-fix")
            +navbar-item({id: "navbar-screenshot", text: "скриншот"})
            +navbar-item({id: "navbar-download", text: "загрузка"})

        div(class="custom-iframes-content")
          +iframe({id: "iframe-screenshot", src: "settings-screenshot.html"})
          +iframe({id: "iframe-download", src: "settings-download.html"})
