extends ./common/form


block append vars
  - var title = "Настройки – Загрузка";


block append head
  +link("/interface/css/styles/settings-iframe.css")
  +script("/interface/js/scripts/settings-iframe.js")
  +script("/interface/js/scripts/settings-download.js")


block main
  div(class="container custom-container")
    form
      +form-group()
        +label({for: "nameForPosts", name: "Имя файла"})
        +form-check-inline({inputId: "downloadNameAuto", inputName: "downloadNameMode", labelName: "Автоопределение"})
        +form-check-inline({inputId: "downloadNameUser", inputName: "downloadNameMode", labelName: "Пользовательское"})
        +input({id: "downloadName", name: "Имя файла"})(class="mt-1")

      +button({id: "save", name: "Сохранить"})
