extends ./common/extra


block append vars
  - var title = "Настройки";


block append mixins
  mixin navbar-element(id, name)
    div(class="col custom-navbar-element" id=id)&attributes(attributes)=name

  mixin iframe(id, src)
    iframe(id=id src=src frameborder="0")&attributes(attributes)="Ваш браузер не поддерживает iframe."


block append head
  +link("/interface/css/styles/settings.css")
  +script("/interface/js/scripts/settings.js")


block main
  div="Not available in 1.0.0-beta.6"
//-
  main(class="custom-main custom-container")
    div(class="custom-main-content")
      div(class="custom-main-navbar")
        div(class="row custom-row")
          +navbar-element("settings-screenshot-navbar", "Скриншот")(class="custom-border-bottom")
          +navbar-element("settings-download-navbar", "Загрузка")

      div(class="custom-main-iframes")
        +iframe("settings-screenshot", "settings-screenshot.html")
        +iframe("settings-download", "settings-download.html")
