extends ./common/form


block append vars
  - var title = "Настройки – Скриншот";


block append head
  +js("/interface/js/scripts/settings-screenshot.js")


block append main
  +main()
    +form()
      +title({text: "Посты"})

      +row()
        +col()
          +label({for: "posts-name", text: "Имя файла"})
          +input({id: "posts-name", type: "text", dataType: "string", placeholder: placeholders.fileName})

        +col()
          +label({for: "posts-format", text: "Формат файла"})
          +select({id: "posts-format", dataType: "string", items: [{value: "jpg", text: "JPG"}, {value: "png", text: "PNG"}]})

      +row()
        +col()
          +label({for: "posts-quality", text: "Качество файла"})
          +input({id: "posts-quality", type: "number", dataType: "number", placeholder: placeholders.from0To100})(min=0 max=100)

        +col()
          +label({for: "posts-fillColor", text: "Цвет фона"})
          +input({id: "posts-fillColor", type: "text", dataType: "string", placeholder: placeholders.hexNumber})

        +col()
          +label({for: "posts-turnOffPosts", text: "Выключать посты после создания файла"})
          +checkbox({id: "posts-turnOffPosts", dataType: "boolean"})

      +row()
        +col()
          +label({for: "posts-paddingTop", text: "Отступ сверху"})
          +input({id: "posts-paddingTop", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "posts-paddingBottom", text: "Отступ снизу"})
          +input({id: "posts-paddingBottom", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "posts-paddingLeft", text: "Отступ слева"})
          +input({id: "posts-paddingLeft", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "posts-paddingRight", text: "Отступ справа"})
          +input({id: "posts-paddingRight", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "posts-paddingBetween", text: "Отступ между постами"})
          +input({id: "posts-paddingBetween", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

      +title({text: "Тред"})

      +row()
        +col()
          +label({for: "thread-name", text: "Имя файла"})
          +input({id: "thread-name", type: "text", dataType: "string", placeholder: placeholders.fileName})

        +col()
          +label({for: "thread-format", text: "Формат файла"})
          +select({id: "thread-format", dataType: "string", items: [{value: "jpg", text: "JPG"}, {value: "png", text: "PNG"}]})

      +row()
        +col()
          +label({for: "thread-quality", text: "Качество файла"})
          +input({id: "thread-quality", type: "number", dataType: "number", placeholder: placeholders.from0To100})(min=0 max=100)

        +col()
          +label({for: "thread-fillColor", text: "Цвет фона"})
          +input({id: "thread-fillColor", type: "text", dataType: "string", placeholder: placeholders.hexNumber})

      +row()
        +col()
          +label({for: "thread-paddingTop", text: "Отступ сверху"})
          +input({id: "thread-paddingTop", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "thread-paddingBottom", text: "Отступ снизу"})
          +input({id: "thread-paddingBottom", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "thread-paddingLeft", text: "Отступ слева"})
          +input({id: "thread-paddingLeft", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

        +col()
          +label({for: "thread-paddingRight", text: "Отступ справа"})
          +input({id: "thread-paddingRight", type: "number", dataType: "number", placeholder: placeholders.positiveNumber})(min=0)

      +buttons()
