extends ./common/extra


block append vars
  - var title = "Статистика";


block append head
  +link("/interface/css/styles/statistics.css")
  +script("/interface/js/scripts/statistics.js")


block main
  main(class="custom-main custom-container")
    div(class="custom-main-content")
      div(class="custom-statistics")
        h1(id="statistics-time-description")="Количество проведенных часов:"
        h1(id="statistics-time")
