/* Global. */

@font-face {
  font-family: 'Roboto';
  src: url(/interface/fonts/Roboto-Regular.ttf);
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
  background-color: #EEE;
}

html, 
body {
  margin: 0;
  padding: 0;
}

.custom-container {
  padding-top: 10px;
}
