/* Global. */

@font-face {
  font-family: 'Roboto';
  src: url(/interface/fonts/Roboto-Regular.ttf);
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #EEE;
  font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
}

html, 
body, 
h1, 
p,
a {
  margin: 0;
  padding: 0;
}


/* Common. */

.custom-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  width: 100%;
}

.custom-row {
  margin: 0;
}

.custom-border-top {
  border-top: 1px solid #DDD;
}

.custom-border-bottom {
  border-bottom: 1px solid #DDD;
}


/* Header. */

.custom-header {
  height: 71px; /* +1px because 1px border. */
}

.custom-header-content {
  padding-top: 10px;
  text-align: center;
}

.custom-header-logo {
  display: inline-flex;
  margin: 0 auto;
}


/* Main. */

.custom-main-content {
  text-align: center;
}

.custom-main-navbar {
  height: 51px; /* +1px because 1px border. */
  line-height: 40px;
  padding-top: 10px;
}

.custom-main-iframes iframe {
  display: none;
  width: 100%;
}

.custom-main-iframes iframe:nth-child(1) {
  display: block;
  height: 524px;
}

.custom-navbar-element {
  cursor: pointer;
}

.custom-navbar-element:hover {
  background-color: #DDD;
}

.custom-navbar-element,
.custom-navbar-element:hover {
  transition: .2s;
}


/* Footer. */

.custom-footer {
  bottom: 0;
  height: 41px; /* +1px because 1px border. */
  overflow: hidden;
  position: absolute;
  width: 100%; 
}

.custom-footer-content {
  line-height: 40px;
  overflow: hidden;
  text-align: center;
}
