extends ./html5


block append head
  +link("/interface/css/libs/bootstrap-4.0.0.min.css")
  +link("/interface/css/styles/extra.css")


block header
  header(class="custom-header custom-border-bottom")
    div(class="custom-header-content")
      div(class="row custom-row")
        div(class="custom-header-logo")
          img(src="/interface/icons/logo/logo-48.png" alt="")
          h1="2ch-helper"


block footer
  footer(class="custom-footer custom-border-top")
    div(class="custom-footer-content")
      div(class="row custom-row")
        if year
          div(class="col")
            p=year

        if version
          div(class="col")
            p(id="version")=version

        div(class="col")
          a(href="https://github.com/Amaimersion/2ch-helper" target="_blank")
            img(class="custom-footer-icon" src="/interface/icons/stuff/github.png" alt="GitHub")
