block vars
  - var version = "1.0.0";
  - var year = "2018";
  - var title = "2ch-helper";


block mixins
  mixin css(href)
    link(rel="stylesheet" href=href)&attributes(attributes)

  mixin js(src)
    script(defer src=src)&attributes(attributes)


<!DOCTYPE html>
html(lang="ru")

  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title=title ? title : "2ch-helper"

  body
    block header
    block main
    block footer
