@import "./common/extra";


/* Main. */

.custom-navbar-item {
  height: 5vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  font-size: 3vh;
  text-transform: uppercase;
  cursor: pointer;
  opacity: .5;
  border-radius: 5px;
  margin: 0 .5vh;
  background: radial-gradient(circle, #CCCCCCAA, #CCCCCCCC, #CCCCCCDD);
  //background: linear-gradient(to bottom right, #FFFFFF10, #FFFFFF20, #FFFFFF25);

  &, &:hover {
    transition: opacity .2s ease;
  }

  &:hover {
    opacity: 1;
  }
}

.active-custom-navbar-item {
  opacity: 1;
}
